.heroSection{
    background: url("../images/heroSection.webp") center center no-repeat;
    width: 100vw;
    height: 100vh;
}

.hSContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    height: 75%;
}

.hSContent>div{
    font-size: 2rem;
    color: white;
    width: max-content;
}

.hSContent>div>div{
    font-size: 2rem;
    color: yellow;
    text-decoration: underline;
}